{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link href="{% static "dm/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "dm/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "iseharr/css/main.css" %}" rel="stylesheet" type="text/css" media="screen">
        <style>
            body {
                margin: 0px;
                overflow: hidden;
            }
        </style>

        <script src="{% static "dm/js/jquery-1.9.1.min.js" %}"></script>
        <script src="{% static "dm/js/bootstrap.min.js" %}"></script>
        <script src="{% static "iseharr/js/libs/stats.min.js" %}"></script>
        <script src="{% static "dm/js/underscore-min.js" %}"></script>

        <!--
        <script src="http://static.ateoto.com.s3.amazonaws.com/iseharr/js/libs/pixi.js"></script>
        -->
        <script src="{% static "iseharr/js/libs/pixi.dev.js" %}"></script>

        <script>
            {% if user.is_authenticated %}
            var username = "{{ user.username }}";
            {% else %}
            var username = "Unauthenticated Jerk";
            {% endif %}
        </script>
        
        <script src="{% static "iseharr/js/libs/socket.io.min.js" %}"></script>
        <script src="{% static "iseharr/js/libs/bison.js" %}"></script>
        <script src="{% static "iseharr/js/libs/iseharr-client/Iseharr.js" %}"></script>
        <script src="{% static "iseharr/js/libs/iseharr-client/Character.js" %}"></script>
        <script src="{% static "iseharr/js/test.js" %}"></script>

        <title>Iseharr Test</title>
    </head>
    <body>
        <div id="render-target" asset-url="{% static "iseharr" %}"></div>
        <div id="about" class="modal hide">
            <div class="modal-header">
                <h3>Welcome to Iseharr</h3>
            </div>
            <div class="modal-body">
            <p>This is the result of an hour or two of messing around with <a href="https://github.com/GoodBoyDigital/pixi.js">pixi.js</a>. Not a lot works yet. It's pretty much Chrom[e/ium] only. Waiting on <a href="https://github.com/GoodBoyDigital/pixi.js">pixi.js</a> to do RenderTextures before I actually load any map files. Currenty the map is just a single static image. No bounding, no collision detection. If you hook up a gamepad you can move with the D-Pad and Slash with X (PS3) or A (Xbox 360). It's possible none of this will work for you.</p>
            </div>
            <div class="modal-footer">
            <a id="close-about" href="#" class="btn">Close</a>
            </div>
        </div>
    </body>
</html>